[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pycodestyle = "*"
flake8 = "*"
autopep8 = "*"
black = "*"

[packages]
lxml = ">=4.6.3"
pip = "*"
dicttoxml = "==1.7.4"
folioclient = "==0.6"
certifi = "==2019.9.11"
chardet = "==3.0.4"
click = ">=7.1.2"
idna = "==2.8"
itsdangerous = "==2.0.1"
requests = "==2.25.1"
urllib3 = "==1.26.6"
Flask = "==2.0.1"
Jinja2 = ">=3.0"
MarkupSafe = ">=2.0"
Werkzeug = ">=2.0"
flask-login = "*"
requests-futures = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
