<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="/static/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link href="/static/node_modules/c3/c3.css" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">


    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="/static/dashboard.css" rel="stylesheet">

</head>

<body>
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">FOLIO stats</a>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">

                        <li class="nav-item">
                            <a href="javascript:void(0);" onclick="chart.hide();" class="nav-link active" href="#">
                                Hide all
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" onclick="chart.show();" class="nav-link active" href="#">
                                Show all
                            </a>
                        </li>
                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Zoom</span>
                            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        <li class="nav-item">
                            <a href="javascript:void(0);"
                                onclick="chart.zoom(['{{seven_days_back}}', '{{date.today()}}']);"
                                class="nav-link active" href="#">
                                Last 7 days
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);"
                                onclick="chart.zoom(['{{thirty_days_back}}', '{{date.today()}}']);"
                                class="nav-link active" href="#">
                                Last 30 days
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="javascript:void(0);" onclick="chart.unzoom();" class="nav-link active" href="#">
                                Reset Zoom
                            </a>
                        </li>




                        <h6
                            class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Show only</span>
                            <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                                <span data-feather="plus-circle"></span>
                            </a>
                        </h6>
                        {%for measure in measures %}
                        <li class="nav-item">
                            <a href="javascript:void(0);" onclick="chart.hide();chart.show('{{measure}}');"
                                class="nav-link active" href="#">
                                {{measure.replace('\'','').replace('_',' ').capitalize()}}
                            </a>
                        </li>
                        {%endfor%}


                    </ul>

                    <!--<h6
                        class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                        <span>History</span>
                        <a class="d-flex align-items-center text-muted" href="#" aria-label="Add a new report">
                            <span data-feather="plus-circle"></span>
                        </a>
                    </h6>
                    <ul class="nav flex-column mb-2">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Current month
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Last quarter
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Social engagement
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <span data-feather="file-text"></span>
                                Year-end sale
                            </a>
                        </li>
                    </ul>
                </div>-->
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 vh-100">
                <div
                    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <h1 class="h2">Dashboard</h1>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <!--<div class="btn-group mr-2">
                            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
                        </div>
                        <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                            <span data-feather="calendar"></span>
                            This week
                        </button>-->
                    </div>
                </div>

                <!--<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>-->
                <div id="chart" class="h-50"></div>
                <h2>Data table</h2>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                                <th>Header</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1,001</td>
                                <td>Lorem</td>
                                <td>ipsum</td>
                                <td>dolor</td>
                                <td>sit</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>

    <script src="/static/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/static/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/node_modules/c3/c3.min.js" charset="utf-8"></script>
    <script src="/static/node_modules/d3/dist/d3.min.js"></script>
    <script>
        var chart = c3.generate({
            bindto: '#chart',
            data: {
                url: '/status',
                type: 'area',
                mimeType: 'json',
                keys: {
                    x: 'date',
                    value: ["instances_created", "instances_updated", "holdings_records_created", "holdings_records_updated", "items_created", "items_updated", "loans", "loans_returned", "requests", "users_created", "users_updated", "orders_created", "orders_updated", "scheduled_notices_to_send_tomorrow", "emails_sent", "emails_failed"],
                }
            },
            axis: {
                x: {
                    type: 'timeseries',
                    tick: {
                        //format: function (x) { return x.getDateString(); }
                        format: '%Y-%m-%d'
                        //format: '%Y' // format string is also available for timeseries data
                    }
                },
                y: {
                    max: 2000

                }
            }
        });
        chart.load({

            url: '/today',
            mimeType: 'json',
            keys: {
                x: 'date',
                value: ["instances_created", "instances_updated", "holdings_records_created", "holdings_records_updated", "items_created", "items_updated", "loans", "loans_returned", "requests", "users_created", "users_updated", "orders_created", "orders_updated", "scheduled_notices_to_send_tomorrow", "emails_sent", "emails_failed"],
            }

        });
    </script>
</body>

</html>